<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>without curriculum</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        {{template "header.html"}}
        <section id="about">
            <div class="pad">
                <p class="select">
                    <a href="/?category=author&text=avirovic.html"
                        >Ljiljana Avirović</a
                    >
                </p>
                <p class="select">
                    <a href="/?category=author&text=begizhan.html"
                        >Akhmedov Begizhan</a
                    >
                </p>
                <p class="select">
                    <a href="/?category=author&text=roman.html"
                        >Roman Viacheslavovich Mayboga</a
                    >
                </p>
            </div>
        </section>
    </body>
</html>
