<!doctype html>
<html lang="en">
    <head>
        {{template "head"}}
    </head>
    <body>
        {{template "header.html"}}
        <section class="page" id="authors">
            <h2 class="page-title">
                <span class="orn">{{template "flower"}}</span> Authors
                <span class="orn">{{template "flower"}}</span>
            </h2>
            <div class="pad">
                <ul class="toc">
                    <li>
                        <a href="/?category=author&text=alshynbai.html"
                            ><span class="title-text">Erbol Alshynbai</span></a
                        >
                    </li>
                    <li>
                        <a href="/?category=author&text=avirovic.html"
                            ><span class="title-text">Ljiljana Avirovi&#263;</span></a
                        >
                    </li>
                    <li>
                        <a href="/?category=author&text=begizhan.html"
                            ><span class="title-text">Akhmedov Begizhan</span></a
                        >
                    </li>
                    <li>
                        <a href="/?category=author&text=roman.html"
                            ><span class="title-text"
                                >Roman Viacheslavovich Mayboga</span
                            ></a
                        >
                    </li>
                </ul>
            </div>
        </section>
        {{template "sitefooter"}}
    </body>
</html>
