<!doctype html>
<html lang="en">
    <head>
        {{template "head"}}
    </head>
    <body>
        {{template "header.html"}}
        <section class="page" id="about">
            {{if and .Selected (not .Texts)}}
            <p class="backrow">
                {{if or (eq .Selected "author") (eq .Selected "authors_text")}}
                <a class="backlink" href="/authors">&larr; Back to authors</a>
                {{else}}
                <a class="backlink" href="/?category={{.Selected}}"
                    >&larr; Back to list</a
                >
                {{end}}
            </p>
            {{end}} {{if .Selected}} {{template "texts.html" .}} {{end}} {{if
            .AlshynbaiPoem}}
            <img
                class="pull-img"
                src="/static/media/Alshynbai2.jpeg"
                alt="Alshynbai"
            />
            {{end}} {{if .Content}}
            <pre class="text-body">{{.Content}}</pre>
            {{end}} {{if .HContent}}
            <div class="hcont">{{.HContent}}</div>
            {{end}}
        </section>
        {{template "sitefooter"}}
    </body>
</html>
