<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>without curriculum</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        {{template "header.html"}}
        <section id="about">
            <div class="pad" stlye="font-size: 2.5em">
                <br />
                You can reach me through the following contacts:<br /><br />

                &emsp;&emsp;Email: tincagardenghi@gmail.com<br />

                &emsp;&emsp;Phone: +34 641 372 003<br /><br />
            </div>
        </section>
    </body>
</html>
