<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>without curriculum</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        {{template "header.html"}}
        <section id="about">
            <div class="pad">
                <b>
                    <br />
                    You can reach me through the following contacts:<br />

                    &emsp;&emsp;Email: tincagardenghi@gmail.com<br />

                    &emsp;&emsp;Phone: +34 641 372 003<br /><br />
                </b>
            </div>
        </section>
    </body>
</html>
