    <header>
        <div class='title'>Without Curriculum</div>
        <nav>
             <ul>
                   <li><a href="/">ABOUT</a></li>               
                   <li><a href="/novels">NOVELS</a></li>
                   <li><a href="/gallery">PHOTOS</a></li>
                   <li>
                        <a>TRANSLATIONS</a>
                        <ul>
                            <li><a href="/?category=traduzioni_rus_ita">russian to italian</a></li>
                            <li><a href="/?category=traduzioni_spa_ita">spanish to italian</a></li>
                            
                        </ul>
                    </li>
                   <li>
                        <a>STORIES</a>
                        <ul>
                            <li><a href="/?category=storie_ita">ITALIANO</a></li>
                            <li><a href="/?category=storie_pol">POLSKI</a></li>
                            <li><a href="/?category=storie_rus">РУССКИЙ</a></li>                           
                        </ul>
                    </li>
                    <li><a href="contacts">CONTACT</a></li>
              </ul>
        </nav>
    </header>