<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>without curriculum</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {{template "header.html"}}
    <section id="about">   
        <div class="row">
            <div class="col_40">
                        <i>
                        What must you do?<br>
                        You must submit an application<br>
                        and enclose a Curriculum Vitae.<br>
                        Regardless of how long your life is,<br>
                        the Curriculum Vitae should be short.<br>
                        Be concise, select facts.<br>
                        Change landscapes into addresses<br>
                        and vague memories into fixed dates.<br>
                        Of all your loves, mention only the marital,<br>
                        and of the children, only those who were born.<br>
                        It's more important who knows you<br>
                        than whom you know.<br>
                        Travels––only if abroad.<br>
                        Affiliations––to what, not why.<br>
                        Awards––but not for what.<br>
                        Write as if you never talked with yourself,<br>
                        as if you looked at yourself from afar.<br>
                        Omit dogs, cats, and birds,<br>
                        mementos, friends, dreams.<br>
                        State price rather than value,<br>
                        title rather than content.<br>
                        Shoe size, not where one is going,<br>
                        the one you are supposed to be.<br>
                        Enclose a photo with one ear showing.<br>
                        What counts is its shape, not what it hears.<br>
                        What does it hear?<br>
                        The clatter of machinery that shreds paper.<br>
                        Poem by  Wislawa Szymborska <br>
                        </i>  
            </div>
            <div class="col_60">
                <img src="static/media/t.jpeg" alt="My self">
                <p>
                        This page presents the key stages of my artistic and literary journey. It includes a section dedicated to the novels I have written and translated into different languages, accompanied by a collection of my short stories. Another section is devoted to my translations of Russian and Spanish authors from the nineteenth and twentieth centuries, which I consider an integral part of my ongoing engagement with language and writing. Completing the overview is a special section featuring my photographic work, primarily focused on abstract subjects.
                </p>
            </div>
        </section>
    </section> 
<div class="footer">Tinca Gardenghi</div>
</body>
</html>

