<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>without curriculum</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {{template "header.html"}}
    <section id="about">
        
        <div class=row_nov>
                <a href="/?category=novels&text=comedia_ita.txt"><img src="static/media/sogni-inabissati.png"></a> 
                <a href="/?category=novels&text=comedia_spa.txt"><img src="static/media/comediai_spa.jpeg"></a> 
                <a href="/?category=novels&text=comedia_rus.txt"><img src="static/media/CommediaRUS.png"></a>
                <a href="/?category=novels&text=comedia_prt.txt"><img src="static/media/commediaPORT.png"></a>        
        </div>
        <div class=row_nov>
                <a href="/?category=novels&text=i_cerchi_della_solitudine.txt"><img src="static/media/cerchi.png"></a>
                <a href="/?category=novels&text=i_cerchi_della_solitudine_spa.txt"><img src="static/media/spa_cerchi.png"></a>  
                <a href="/?category=novels&text=i_cerchi_della_solitudine_rus.txt"><img src="static/media/rus1.png"></a>      
        </div>
        <div class=row_nov>
                <a href="/?category=novels&text=gli_eletti.txt"><img src="static/media/gli-eletti.png"></a>        
        </div>
        
    </section>
<div class="footer">Tinca Gardenghi</div>
</body>
</html>

